{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block head %}
    <title>Case Detail | Test Case Manager</title>
{% endblock %}
{% block content %}
    <h2 class="text-center fw-bold">Manage Case</h2>

    <h3><em><strong>Issue : </strong></em> {{ case.issue }} </h3>

    <div class="case-detail-content">
        {% if case.id != NULL %}
            <form action="../{{ case.id }}/" method="post" class="text-center mb-5">
                {% csrf_token %}
                <br>
                {{ form | crispy}}
                <br>
                <input type="submit" value="Save" class="btn bg-dark text-light  p-1 me-4">
                <a href="{% url 'case_delete' case.id %}" class="btn bg-dark p-1 text-light">Delete</a>
            </form>
        {% else %}
            <form action="new" method="post" class="text-center mb-5">
                {% csrf_token %}
                {{ form | crispy}}
                <input type="submit" value="Save" class="btn bg-dark text-light  p-1 me-4">
            </form>
        {% endif %}
    </div>
{% endblock %}
