{% extends 'base.html' %}
{% block head %}
    <title>Home | Test Case Manager</title>
{% endblock %}
{% block content %}
    <br>
    <div class="text-left">
     <a href="/release/" class="btn btn-dark m-3 p-lg-0 link-light">List Releases</a>
    </div>

    <div class="text m-2">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin lorem non mauris pharetra pretium.
            Donec pellentesque metus dui, eget accumsan lorem semper at. Proin auctor, nisl a varius ultricies, orci
            enim
            mattis diam, eu imperdiet nibh sapien id metus. Nulla eget dolor in odio bibendum molestie. Nullam ac
            sagittis
            nisl. Nulla facilisi. Vivamus lacus erat, imperdiet fringilla urna id, imperdiet iaculis arcu.</p>
        <p>
            Nulla consectetur ipsum eget condimentum molestie. Vivamus ut orci neque. Pellentesque mollis tortor sit
            amet
            lorem ultrices pulvinar at nec erat. Aliquam lobortis justo et cursus ullamcorper. Duis eu nisl blandit,
            iaculis
            elit a, rutrum turpis. Curabitur id velit sed elit luctus ornare pellentesque feugiat dolor. Suspendisse nec
            justo eu nisi condimentum sagittis.</p>
        <p> Fusce quis tempor nunc, ac tincidunt nisi. Sed sit amet tristique odio.
            Vivamus euismod rhoncus justo nec suscipit. Proin vehicula ligula vitae augue congue, egestas lacinia nunc
            lobortis. Nullam dolor turpis, porttitor id tempus condimentum, pretium sit amet ligula. Mauris id libero a
            est
            tincidunt cursus ac mattis magna. </p>
    </div>

{% endblock %}